/* STARFOREX */

/* Colors: E0E6EA A8B3CE */
html, body { margin: 0; padding: 0; font: normal 1.0em sans-serif; color: #E0E6EA; background-color: #1A262C; /*#293941;*/ }
wrap { display: block; overflow: hidden; width: 1220px; margin: 0 auto; padding: 0 20px; /*border: 1px solid yellow;*/ }
a  { text-decoration: none; color: #E0E6EA; }
a:hover  { text-decoration: none; color: #FAFAFA; }
a:visited  { text-decoration: none; color: #E0E6EA; }
li { list-style-type: none; }

header { margin: 0; padding: 10px 0; background-color: #1A262C; }
header h1, header h2, header h3 { display: inline-block; margin: 0; padding: 0; }
header h1 { font-size: 1.2em; font-weight: 600; margin: 0 20px 0 10px; }
header h2 { font-size: 1.0em; font-weight: 300; color: #A8B3CE; }
header h3 { font-size: 1.0em; font-weight: 300; color: #6E914F; float: right; margin: 0px 10px 0 0; }
#dollar { margin-right: 30px; }
.rate { font-size: 1.2em; font-weight: 500; color: #8EB16F;}

footer { margin: 0; padding: 10px 0; background-color: #1A262C; text-align: right; }
footer h1, footer h2 { display: inline-block; margin: 0; padding: 0; }
footer h1 { font-size: 1.2em; font-weight: 600; margin: 0 10px 0 20px; }
footer h2 { font-size: 1.0em; font-weight: 300; color: #A8B3CE; }

#main    { display: block; overflow: hidden; height: 800px; padding: 10px 0; background-color: #293941; background: #293941 url(hero.jpg) center no-repeat; text-align: center; }
#markets { display: block; overflow: hidden; padding: 10px 0; background-color: #293941; }
#sidebar { float: left; display: inline-block; overflow: hidden; width: 400px; margin-right: 10px; }
#content { float: left; display: inline-block; overflow: hidden; width: 810px; }

#market-index { display: block; overflow: hidden; width: 1200px; margin: 0px 0 10px; padding: 5px 10px; background-color: #1A262C; }
#market-index h1    { display: inline-block; width: 450px; margin: 0; padding: 0; color: #A8B3CE; font-variant: small-caps; font-weight: 300; font-size: 1.4em; }
#market-index .cell { display: inline-block; width: 160px; padding-right: 20px; border-right: 2px solid #2C383E; }
#market-index .cell:last-child { border-right: none; }
#market-index label { display: block; color: #A8B3CE; font-variant: small-caps; font-weight: 300; font-size: 1.0em; text-align: right; }
#market-index span  { display: block; font-weight: 300; font-size: 1.4em; text-align: right; }

#coins-wrap { display: block; width: 400px; height: 270px; margin-bottom: 12px; padding: 2px; background-color: #1A262C; }
#coins { width: 396px; height: 200px; margin: 2px 0; background-color: #1A262C; border-collapse: collapse; }
#coins th { padding: 4px 8px; font-size: 0.8em; font-weight: 400; font-variant: small-caps; color: #A8B3CE; border-bottom: 1px solid #2C383E; cursor: pointer; }
#coins td { padding: 2px 8px; font-size: 0.9em; }
#coins th:nth-child(1) { text-align: left;  padding-left: 12px; }
#coins th:nth-child(2) { text-align: right; padding-right: 20px; }
#coins th:nth-child(3) { text-align: right; }
#coins th:nth-child(4) { text-align: right; }
#coins td:nth-child(1) { text-align: left;  padding-left: 12px; }
#coins td:nth-child(2) { text-align: right; }
#coins td:nth-child(3) { text-align: right; }
#coins td:nth-child(4) { text-align: right; }
#coins tr.select td { background-color: #0A161C; }
#coins tr:hover  td { background-color: #293941; cursor: pointer; }

.go-up { color: #6E914F; }
.go-dn { color: #A55F6B; }
.go-no { color: #A8B3CE; }

.price-up:after { content: "\25B2"; color: #6E914F; display: inline-block; width: 1em; margin-left: 4px; font-size: 0.8em; }
.price-dn:after { content: "\25BC"; color: #A55F6B; display: inline-block; width: 1em; margin-left: 4px; font-size: 0.8em; }
.price-no:after { content: "\25BA"; color: #A8B3CE; display: inline-block; width: 1em; margin-left: 4px; font-size: 0.8em; }

#updated { height: 20px; padding: 0 2px; /*text-align: center;*/ font-size: 0.8em; font-weight: 300; font-variant: small-caps; color: #A8B3CE; border-top: 1px solid #2C383E; }
#update-time { display: inline-block; /*width: 240px;*/ margin: 3px 20px 0 10px; }
#refresh { float: right; display: inline-block; width: 70px; height: 19px; margin: 2px 10px 0 0; padding: 0; color: #A8B3CE; background-color: #293941; border: 1px solid #142026; border-radius: 3px; outline: none; }
#refresh:hover  { color: #C8D3EE; background-color: #495961; cursor: pointer; }
#refresh:active { color: #FFF; }


/* INFO */

#info { /*width: 400px;*/ height: 300px; margin: 0; padding: 12px 8px; background-color: #1A262C; font-size: 0.9em; }
/*#info-latest { display: inline-block; width: 100px; margin: 0 0 10px; padding: 0; font-size: 1.4em; font-weight: 300; text-align: right; }*/
#info li { line-height: 1.4em; padding: 2px 4px 1px 6px; }
/*#info li:nth-child(even) { background-color: #162228; border: 1px solid #142026;}*/
#info li label { display: inline-block; width: 140px; color: #A8B3CE; font-variant: small-caps; }
#info li span  { display: inline-block; width: 230px; text-align: right; }
#info-payment     { float: left;  display: inline-block; margin: 0 10px 10px; padding: 0; font-size: 1.4em; font-weight: 300; color: #888; }
#info-trustline   { float: right; display: inline-block; margin: 0 10px 10px; padding: 0; font-size: 1.4em; font-weight: 300; color: #888; }
#info-payment   a { color: #A8B3CE; font-variant: small-caps; }
#info-trustline a { color: #A8B3CE; font-variant: small-caps; }
.qrcode { text-align: center; }
#qrcode { text-align: center; width: 258px; height: 258px; margin: 20px auto 0; border: 4px solid white; opacity: 0.7; }
#qrcode img { width: 250px; height: 250px; }
.qrselected a { font-weight: bold; color: #FFF; }
.qrbutton {  }
#warn { text-align: center; font-size: 0.8em; }

/* CHART */

#chart-area { display: block; width: 810px; height: 360px; background-color: #1A262C; }
#chart { width: 810px; height: 358px; }
#spinner { width: 24px; margin: 150px 280px; }
svg text             { fill: #A8B3CE; }
svg path.candle      { stroke: #6E914F; }
svg path.candle.body { stroke-width: 0; }
svg path.candle.up   { fill: #6E914F; stroke: #6E914F; }
svg path.candle.down { fill: #B54F5B; stroke: #B54F5B; }
svg path.domain		 { stroke: rgba(0,0,0,.4); }
svg path.volume      { fill: #DDDDDD; }
svg .tick line		 { stroke: rgba(0,0,0,.4); }
svg .grid line       { stroke: rgba(0,0,0,.4); stroke-opacity: 0.4; shape-rendering: crispEdges; }
svg .grid path       { stroke-width: 0; }

#chart-info  { display: block; width: 794px; padding: 4px 20px; background-color: #1A262C; border-top: 1px solid #2C383E; }
#chart-label { display: inline-block; width: 380px; margin: 0; padding: 0; font-weight: 300; font-size: 1.4em; /*border: 1px solid red;*/ }
#chart-menu  { display: inline-block; width: 380px; text-align: right; /*border: 1px solid red;*/ }
.chart-action { width: 70px; color: #A8B3CE; background-color: #162228; border: 1px solid #142026; border-radius: 3px; outline: none; }
.chart-action.selected { color: #A8B3CE; background-color: #293941; outline: none; }
.chart-action:hover { color: #C8D3EE; background-color: #495961; cursor: pointer; }

/* TRADING */

/*#trading  { display: block; width: 584px; height: 197px; margin-top: 10px; background-color: #1A262C; }*/
#calc-area  { display: block; width: 810px; height: 200px; margin-top: 10px; padding: 0; }
#calculator { display: inline-block; float: left; width: 360px; height: 202px; padding: 0px 20px; background-color: #1A262C; margin-right: 10px; }
#calculator h1 { margin: 8px; font-weight: 300; font-size: 1.2em; text-align: center; }
#calculator li { line-height: 1.4em; padding: 1px 4px 1px 6px; }
#calculator li label { display: inline-block; width: 150px; color: #A8B3CE; font-variant: small-caps; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
#calculator li input { display: inline-block; width: 180px; padding: 2px 8px; font-size: 1em; text-align: right; color: #E0E6EA; background-color: #293941; border: 1px solid #192931; border-radius: 3px; }

#indices    { display: inline-block; float: left; width: 360px; height: 202px; padding: 0px 20px; background-color: #1A262C; }
#indices h1 { margin: 8px; font-weight: 300; font-size: 1.2em; text-align: center; }
#indices li { line-height: 1.4em; padding: 1px 4px 1px 12px; }
#indices li:nth-child(even) { background-color: #162228; border: 1px solid #142026;}
#indices li label { display: inline-block; width: 150px; color: #A8B3CE; font-variant: small-caps; }
#indices li span  { display: inline-block; width: 180px; text-align: right; }


/* ALL COINS */
#all-coins-wrap { display: block; width: 1200px; min-height: 200px; margin: 12px 0 2px; padding: 10px; background-color: #1A262C; }
#all-coins { width: 100%; margin: 4px 0; background-color: #1A262C; border-collapse: collapse; }
#all-coins tr:nth-child(even) { background-color: #162228; border: 1px solid #142026; }
#all-coins th { padding: 4px 8px; font-size: 0.8em; font-weight: 400; font-variant: small-caps; color: #A8B3CE; border-bottom: 1px solid #2C383E; cursor: pointer; }
#all-coins td { padding: 2px 8px; font-size: 0.9em; }
#all-coins th:nth-child(1)  { text-align: center; }
#all-coins th:nth-child(2)  { text-align: left;  }
#all-coins th:nth-child(3)  { text-align: left;  }
#all-coins th:nth-child(4)  { text-align: right; }
#all-coins th:nth-child(5)  { text-align: right; }
#all-coins th:nth-child(6)  { text-align: right; }
#all-coins th:nth-child(7)  { text-align: right; }
#all-coins th:nth-child(8)  { text-align: right; }
#all-coins th:nth-child(9)  { text-align: right; }
#all-coins th:nth-child(10) { text-align: right; }
#all-coins td:nth-child(1)  { text-align: center; }
#all-coins td:nth-child(2)  { text-align: left;  }
#all-coins td:nth-child(3)  { text-align: left;  }
#all-coins td:nth-child(4)  { text-align: right; }
#all-coins td:nth-child(5)  { text-align: right; }
#all-coins td:nth-child(6)  { text-align: right; }
#all-coins td:nth-child(7)  { text-align: right; }
#all-coins td:nth-child(8)  { text-align: right; }
#all-coins td:nth-child(9)  { text-align: right; }
#all-coins td:nth-child(10) { text-align: right; }
#all-coins tr.select td { background-color: #0A161C; }

#all-coins td.rank { color: #A8B3CE; }
#all-coins tr:hover  td { background-color: #293941; cursor: pointer; }

#promo    { width: 1220px; margin: 10px 0 0; padding: 14px 0; text-align: center; background-color: #1A262C; }
#promo h1 { margin: 0; font-weight: 300; font-size: 1.6em; }
#promo h2 { margin: 0; font-weight: 300; font-size: 1.2em; color: #A8B3CE; }
#simulator { display: inline-block; width: 200px; margin-top: 10px; padding: 6px 10px; font-variant: small-caps; border: none; color: #FFF; background-color: #850414; cursor: pointer; }
#simulator:active { color: #DDD; background-color: #750404; }

#calc-form button { display:inline-block; width: 150px; margin: 15px 10px; padding: 4px 10px; border: none; }

#button-buy  { color: #FFF; background-color: #4A7025; cursor: pointer; }
#button-sell { color: #FFF; background-color: #850414; cursor: pointer; }
#button-buy:active  { color: #DDD; background-color: #3A6015; }
#button-sell:active { color: #DDD; background-color: #750404; }
#button-buy.button-off  { color: #999; background-color: #495961; }
#button-sell.button-off  { color: #999; background-color: #495961; }
/*#button-sell[disabled] { color: #999; background-color: #495961; cursor: not-allowed !important; }*/


.intro { margin-top: 20px; padding: 10px 30px; font-weight: 200; opacity: 0.80; font-variant: small-caps; background: #00000044; border-radius: 10px; }
#button-markets { display:inline-block; margin-top: 320px; padding: 10px; text-align:center; vertical-align: middle; width: 300px; height: 40px; color: #36A; background-color: #FFF; border: 1px solid #36A; border-radius: 8px; font-size: 2em; font-variant: small-caps; opacity: 0.8; }
#button-markets:hover { opacity: 0.9; }
/*#button-markets { display:inline-block; margin-top: 250px; margin-left: 500px; padding: 10px; text-align:center; vertical-align: middle; width: 300px; height: 40px; background-color: #064; border: 1px solid #2A8; border-radius: 8px; font-size: 2em; }*/

#demo { padding: 100px 0; background-color: #293941; color: #B1BCC2; text-align: center; }
#demo li { /*width: 80%;*/ margin: 50px 12%; font-size: 1.4em; font-weight: 200; }
.demo-title { font-size: 4em; font-weight: 600; }
.demo-subtitle { margin-bottom: 80px; font-size: 3em; font-weight: 200; font-variant: small-caps; }
.demo-endtitle { margin-top: 100px; font-size: 3em; font-weight: 200; font-variant: small-caps; }
.demo-icon  { margin-top: 50px; opacity: 0.5; }
.bank { display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.disclaimer { color: #FFF; }
.disclaimer-hilight { color: #FF8; }

/* RESPONSIVE */

/*@media screen and (max-width: 720px) and (max-device-width: 720px) and (orientation:portrait) {*/

/* iPad Pro */
/*@media screen and (max-width: 1092px) { 
  #main { background-color: green; }
}
*/
/* iPad */
/*@media screen and (max-width: 820px) { 
  #main { background-color: orange; }
}
*/
/*@media screen and (max-width: 332px) { */
@media screen and (max-width: 720px) { /* iPhone 6S+ */
	body  { width: 100%; font-size: 100%; }
	wrap  { width: 100%; margin: 0; padding: 0; }
	header { text-align: center; }
	header h1, header h2, header h3 { display: block; float: none; margin: 0; }
	header h3 { margin-top: 10px; }
	/*#main { background-color: red; }*/

	#main    { background: #293941 url(herox.jpg) center no-repeat; }
	#sidebar { width: 100%; margin: 0 0 10px 0; }
	#content { width: 100%; }
	
	#dollar  { display: block; width: 100%; }
	#bitcoin { display: block; width: 100%; }

	#market-index { display: block; width: 100%; font-size: 0.8em; }
	#market-index h1    { display: none; width: 100%; margin: 0 0 10px; padding: 0; text-align:center; }
	#market-index .cell { display: inline-block; width: 23%; padding: 4px 0; }
	#market-index label { display: block; text-align: center; }
	#market-index span  { display: block; text-align: center; }

	#coins-wrap { width: 100%; height: auto; }
	#coins { width: 100%; height: auto; }
	
	#info { width: 100%; height: auto; }
	#info-coin     { width: 100%; }
	#info li label { width: 30%; }
	#info li span  { width: 67%; }
	
	#chart-area   { width: 100%; height: 310px; }
	#chart { width: 100%; height: 310px; }
	#chart-info   { width: 100%; padding: 4px 0; text-align: center; }
	#chart-label  { display: block; width: 100%; margin: 4px 0; }
	#chart-menu   { display: block; width: 100%; margin: 4px 0; text-align: center; }
	.chart-action { width: 70px; padding: 3px; }

	#calc-area  { display: block; width: 100%; height: auto; }
	#calculator { display: block; float: none; width: 100%; height: auto; padding: 10px 0; margin-bottom: 10px; }
	#indices    { display: block; float: none; width: 100%; height: auto; padding: 10px 0; }

	#calculator li { padding: 4px 6px 4px 10px; }
	#calculator li label { width: 30%; overflow: initial; }
	#calculator li input { width: 62%; font-size: 1em; }

	#indices li {  }
	#indices li label { display: inline-block; width: 30%; }
	#indices li span  { display: inline-block; width: 64%; }

	#all-coins-wrap { display: block; width: 100%; padding: 4px 0; }
	#all-coins { width: 100%; table-layout: fixed; }
	#all-coins th:nth-child(1)  { width:  0%; display: none; }
	#all-coins th:nth-child(2)  { width: 18%; }
	#all-coins th:nth-child(3)  { width: 30%; }
	#all-coins th:nth-child(4)  { width: 30%; }
	#all-coins th:nth-child(5)  { width:  0%; display: none; }
	#all-coins th:nth-child(6)  { width:  0%; display: none; }
	#all-coins th:nth-child(7)  { width:  0%; display: none; }
	#all-coins th:nth-child(8)  { width: 22%; }
	#all-coins th:nth-child(9)  { width:  0%; display: none; }
	#all-coins th:nth-child(10) { width:  0%; display: none; }
	
	#all-coins td:nth-child(1)  { width:  0%; display: none; }
	#all-coins td:nth-child(2)  { width: 18%; }
	#all-coins td:nth-child(3)  { width: 100%; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	#all-coins td:nth-child(4)  { width: 30%; }
	#all-coins td:nth-child(5)  { width:  0%; display: none; }
	#all-coins td:nth-child(6)  { width:  0%; display: none; }
	#all-coins td:nth-child(7)  { width:  0%; display: none; }
	#all-coins td:nth-child(8)  { width: 22%; }
	#all-coins td:nth-child(9)  { width:  0%; display: none; }
	#all-coins td:nth-child(10) { width:  0%; display: none; }

	#all-coins col:nth-child(1) { width: 18%; }
	#all-coins col:nth-child(2) { width: 30%; }
	#all-coins col:nth-child(3) { width: 30%; }
	#all-coins col:nth-child(4) { width: 22%; }

	footer { text-align: center; }
	footer h1, footer h2 { display: block; margin: 2px; }

	#promo { width: 100%; }
	#promo h1 { padding: 0 10px; font-size: 1.4em; }
	#promo h2 { padding: 0 10px; font-size: 1.0em; }
}

/* iPhone 6S */
/*@media screen and (max-width: 300px) { 
  #main { background-color: pink; }
}
*/

/* iPhone SE */
/*@media screen and (max-width: 256px) { 
  #main { background-color: blue; }
}
*/

/* END 